<div class="card-container" id="card-<%= card.id  %>">
  <div class="header-container">
    <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
    <div class="header">
      <h1 class="main-heading">Hugh Jackman</h1>
      <span class="tag">Actor</span>
      <span class="tag">Producer</span>
      <div class="stats">
        <span class="stat-module">
          Movies <span class="stat-number">56</span>
        </span>
        <span class="stat-module">
          Plays <span class="stat-number">29</span>
        </span>
        <span class="stat-module">
          Musicals <span class="stat-number">11</span>
        </span>
      </div>
    </div>
  </div>
  
  <div class="overlay-header"></div>
  
  <div class="body">
    <img src="https://s17.postimg.org/xcbukrwdr/Hugh_Jackman_f.jpg" alt="Hugh Jackman" class="body-image" />
    <div class="body-action-button u-flex-center">
      <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    <span class="body-stats">Followers <span>3.5k</span></span>
    <span class="body-stats">Following <span>1.9k</span></span>
    <div class="body-info">
      <p>
        Hugh Michael Jackman is an Australian actor, singer and producer. Jackman has won international recognition for his roles in variety of film genres.
      </p>
    </div>
  </div>
</div>