<div id="DropDown_br">
	<br>
<div class="DropDownWrapper col-md-12">
	
	<div class="GroupedDestinations border-bottom-radius">
		<div class="DestinationGroup row">
			<strong class="DestinationGroup__name col-sm-2 space-2 space-top-2">亚洲</strong>
			<div class="DestinationGroup__content col-sm-10">
				<div class="row space-2 space-top-2">
					<button type="button" class="Destination btn btn-link col-sm-2">台北</button>
					<button type="button" class="Destination btn btn-link col-sm-2">香港</button>
					<button type="button" class="Destination btn btn-link col-sm-2">上海</button>
					<button type="button" class="Destination btn btn-link col-sm-2">首尔</button>
					<button type="button" class="Destination btn btn-link col-sm-2">东京</button>
					<button type="button" class="Destination btn btn-link col-sm-2">大阪</button></div>
				<div class="row space-2">
					<button type="button" class="Destination btn btn-link col-sm-2">花莲</button>
					<button type="button" class="Destination btn btn-link col-sm-2">京都</button>
					<button type="button" class="Destination btn btn-link col-sm-2">台中</button>
					<button type="button" class="Destination btn btn-link col-sm-2">北京</button>
					<button type="button" class="Destination btn btn-link col-sm-2">高雄</button>
					<button type="button" class="Destination btn btn-link col-sm-2">曼谷</button></div>
			</div>
		</div>
		<div class="DestinationGroup row">
			<strong class="DestinationGroup__name col-sm-2 space-2 space-top-2">欧洲</strong>
			<div class="DestinationGroup__content col-sm-10">
				<div class="row space-2 space-top-2">
					<button type="button" class="Destination btn btn-link col-sm-2">巴黎</button>
					<button type="button" class="Destination btn btn-link col-sm-2">伦敦</button>
					<button type="button" class="Destination btn btn-link col-sm-2">巴塞罗那</button>
					<button type="button" class="Destination btn btn-link col-sm-2">罗马</button>
					<button type="button" class="Destination btn btn-link col-sm-2">佛罗伦萨</button>
					<button type="button" class="Destination btn btn-link col-sm-2">米兰</button></div>
				<div class="row space-2">
					<button type="button" class="Destination btn btn-link col-sm-2">威尼斯</button>
					<button type="button" class="Destination btn btn-link col-sm-2">阿姆斯特丹</button>
					<button type="button" class="Destination btn btn-link col-sm-2">尼斯</button>
					<button type="button" class="Destination btn btn-link col-sm-2">慕尼黑</button>
					<button type="button" class="Destination btn btn-link col-sm-2">柏林</button>
					<button type="button" class="Destination btn btn-link col-sm-2">马德里</button></div>
			</div>
		</div>
		<div class="DestinationGroup row">
			<strong class="DestinationGroup__name col-sm-2 space-2 space-top-2">北美</strong>
			<div class="DestinationGroup__content col-sm-10">
				<div class="row space-2 space-top-2">
					<button type="button" class="Destination btn btn-link col-sm-2">洛杉矶</button>
					<button type="button" class="Destination btn btn-link col-sm-2">纽约</button>
					<button type="button" class="Destination btn btn-link col-sm-2">旧金山</button>
					<button type="button" class="Destination btn btn-link col-sm-2">波士顿</button>
					<button type="button" class="Destination btn btn-link col-sm-2">华盛顿特区</button>
					<button type="button" class="Destination btn btn-link col-sm-2">硅谷</button></div>
				<div class="row space-2">
					<button type="button" class="Destination btn btn-link col-sm-2">西雅图</button>
					<button type="button" class="Destination btn btn-link col-sm-2">温哥华</button>
					<button type="button" class="Destination btn btn-link col-sm-2">迈阿密</button>
					<button type="button" class="Destination btn btn-link col-sm-2">圣地亚哥</button>
					<button type="button" class="Destination btn btn-link col-sm-2">拉斯维加斯</button>
					<button type="button" class="Destination btn btn-link col-sm-2">芝加哥</button></div>
			</div>
		</div>
		<div class="DestinationGroup row">
			<strong class="DestinationGroup__name col-sm-2 space-2 space-top-2">大洋洲</strong>
			<div class="DestinationGroup__content col-sm-10">
				<div class="row space-2 space-top-2">
					<button type="button" class="Destination btn btn-link col-sm-2">悉尼</button>
					<button type="button" class="Destination btn btn-link col-sm-2">墨尔本</button>
					<button type="button" class="Destination btn btn-link col-sm-2">皇后镇</button>
					<button type="button" class="Destination btn btn-link col-sm-2">黃金海岸</button>
					<button type="button" class="Destination btn btn-link col-sm-2">布里斯班</button>
					<button type="button" class="Destination btn btn-link col-sm-2">奥克兰</button></div>
			</div>
		</div>
		<div class="GroupedDestinations__tips space-1 space-top-1">温馨小贴士：可以直接输入目的地，或目标地＋地标／地区名字进行搜索，如：巴黎 埃菲尔铁塔</div></div>
</div>
</div>