/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);


/* Nav / Navbar Styles
===================================*/
.navbar {
	background: transparent;
//	background-color: rgba(0,0,0,0.5);
	border-bottom: none;
	padding: 30px 0 10px;
	transition-duration: 0.6s;
//	transition: background-color .5s ease 0s;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.navbar-default .navbar-brand {
	color: black;
}
.navbar-default .navbar-nav>li>a {
	color: black;
//	color: #FFA726;
	font-weight: bold;
	font-size: 18px;
}
.navbar-default .navbar-nav>li {
	margin-right: 8px;
}
.navbar-default .navbar-nav>li:last-of-type {
	margin-right: 0;
}
.dropdown-menu,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: rgba(24,53,50, 0.2);
//	color: #FFA726;
	font-weight: bold;
	font-size: 18px;
}
.dropdown-menu {
	padding: 8px;
	box-shadow: none;
	border: none;
//	color: #FFA726;
}

.dropdown-menu li>a:hover {
	background-color: #BDBDBD;
}
.dropdown-menu li a {
	padding: 4px 8px;
	border-radius: 6px;
//	color: #FFA726;
}

.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
//	color: #FFA726;
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
//	background: #fff;
background-color: #FFA726;
}


/* jQuery Styles
===================================*/
.navbar-scroll {
	background: #ffffff;
	color: #263238;
	padding: 0;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}


/* Search bar
====================================*/



//---------------------------------------------------------------

//---------Navbar---------


   a {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       vertical-align: baseline;
       background: transparent;
       text-decoration: none;
       color: #2c9ab7
   }

   a:hover {
       text-decoration: underline
   }

   #master {
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 60px;
      line-height: 1;
      font-weight: bold;
      letter-spacing: 0;
      -webkit-font-smoothing: inherit
  }

  #master {
      text-rendering: optimizeLegibility
  }

  #master-container {
      background-color: transparent;
      -webkit-animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vmin;
      min-height: 0;
      max-height: 100%;
  }

  #master-container .content {
      height: auto;
      margin-left: inherit;
      margin-right: inherit
  }

  @media screen and (max-width: 615px) {
      #master-container {
          -webkit-animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      }
  }

  @media screen and (max-width: 615px) {
      #master {
          font-size: 40px;
          font-line: 1.2
      }
  }

  #master-container-scroller {
      height: 66px;
      margin-bottom: -6px;
      overflow: hidden;
      position: relative
  }

  #master-container-scroller .master-container-scroller_item {
      display: block;
      padding-bottom: 6px;
      -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  }

  #master-container-scroller .master-container-scroller_item[href]:hover {
      text-decoration: underline
  }

  #master-container-scroller .master-container-scroller_item:nth-child(1),
  #master-container-scroller .master-container-scroller_item:nth-child(1) a {
      color: #E65F48
  }

  #master-container-scroller .master-container-scroller_item:nth-child(2),
  #master-container-scroller .master-container-scroller_item:nth-child(2) a {
      color: #E65F48
  }

  #master-container-scroller .master-container-scroller_item:nth-child(3),
  #master-container-scroller .master-container-scroller_item:nth-child(3) a {
      color: #76BCAD
  }

  #master-container-scroller .master-container-scroller_item:nth-child(4),
  #master-container-scroller .master-container-scroller_item:nth-child(4) a {
      color: #84719f
  }

  #master-container-scroller .master-container-scroller_item:nth-child(5),
  #master-container-scroller .master-container-scroller_item:nth-child(5) a {
      color: #d47787
  }

  #master-container-scroller .master-container-scroller_item:nth-child(6),
  #master-container-scroller .master-container-scroller_item:nth-child(6) a {
      color: #F09551
  }

  #master-container-scroller .master-container-scroller_item:nth-child(7),
  #master-container-scroller .master-container-scroller_item:nth-child(7) a {
      color: #349AB5
  }

  #master-container-scroller .master-container-scroller_item:nth-child(8),
  #master-container-scroller .master-container-scroller_item:nth-child(8) a {
      color: #e86042
  }

  #master-container-scroller .master-container-scroller_item:nth-child(9),
  #master-container-scroller .master-container-scroller_item:nth-child(9) a {
      color: #74bcae
  }

  #master-container-scroller .master-container-scroller_item:nth-child(10),
  #master-container-scroller .master-container-scroller_item:nth-child(10) a {
      color: #E65F48
  }

  @media screen and (max-width: 615px) {
      #master-container-scroller {
          height: 48px;
          line-height: 1.2;
          margin-bottom: 0
      }
      #master-container-scroller .master-container-scroller_item {
          padding-bottom: 0;
          -webkit-animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay {
      background-color: rgba(118, 188, 173, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay .link:hover {
          color: #76BCAD
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay {
      background-color: rgba(132, 113, 159, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay .link:hover {
          color: #84719f
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay {
      background-color: rgba(212, 119, 135, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay .link:hover {
          color: #d47787
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay {
      background-color: rgba(240, 149, 81, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay .link:hover {
          color: #F09551
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay {
      background-color: rgba(52, 154, 181, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay .link:hover {
          color: #349AB5
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay {
      background-color: rgba(232, 96, 66, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay .link:hover {
          color: #e86042
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay {
      background-color: rgba(116, 188, 174, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay .link:hover {
          color: #74bcae
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item .img {
      position: relative
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      text-decoration: none
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay:hover {
      opacity: 1
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay .link {
      display: inline-block;
      box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
      transition: box-shadow .2s ease
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
      box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item {
          margin-bottom: 18px
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay {
          position: relative;
          background: none !important;
          color: #3a3a3a;
          opacity: 1;
          display: block;
          margin-top: 18px;
          text-align: left
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay .link {
          box-shadow: none
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
          text-decoration: underline
      }
  }



  @-webkit-keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      100.0% {
          -webkit-transform: translateY(-594px);
          transform: translateY(-594px)
      }
  }

  @keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      100.0% {
          -webkit-transform: translateY(-594px);
          transform: translateY(-594px)
      }
  }

  @-webkit-keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      100.0% {
          -webkit-transform: translateY(-432px);
          transform: translateY(-432px)
      }
  }

  @keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      100.0% {
          -webkit-transform: translateY(-432px);
          transform: translateY(-432px)
      }
  }

//---------Box---------

.box {
//    background-image: url("header.jpg");
	background-image: url("http://7xss15.com1.z0.glb.clouddn.com/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    .box-inner {
		width: 100%;
        background-color: rgba(250, 250, 250, 0.3);  // Box的背景颜色
        padding-bottom: 5px;
        margin-top: -200px;
        margin-bottom: -200px;
    }
}

//========新的第一个section========

body {
    font-family: 'open_sansregular';
//    line-height: 22px;
//    min-width: 320px;
}


.teal-text {
//    color: #32c0c6;
color: blac;
//    font-family: 'Pacifico';
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: block;
    font-size: 64px;
}

.teal-content-text {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 34px;
}

.teal-content-text-2 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 34px;
//	font-size: 30px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-teal-lg {
    background: #32c0c6;
    color: #fff;
    min-width: 230px;
    font-family: 'open_sanssemibold';
    font-size: 22px;
    padding-top: 5px;
}

#industries-galery {
    margin-top: 30px;
    margin-bottom: 20px;
}


#homePage section {
    height: auto;
    text-align: center;
	
	color: #666666;
	font-size: 15px;
}

#homePage section .container {
    padding: 50px 0 100px 0;
}



// ======滑来滑去==========

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

#myCarousel {
	background-color: #f8f8f8;
}


//---------Content---------

.section-custom {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.stats p {
	margin-top: 10px;
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-z {
//	background-color: #f8f8f8;
//	background: url("bg-occupations.jpg");
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

//---------Footer---------

footer {
    color: white;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}



// ========= video ===========
.video {
//  	background-image: url('http://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
background-color: white;
  	height: 429px;
	width: 360px;
	margin: 0;
	align-content:center;
//  	border: 1px solid blue;
//  object-fit: cover;
//  overflow: hidden;
	display: flex;
  	flex-direction: column;
  	justify-content: center;

}

.thevideo {
    width: 360px;
	margin: 0 auto;
//	height: 429px;
//	background-color: yellow;
//object-fit: cover;
//border: 1px solid orange;

//position: relative;
//  top: 50%;
//  transform: translateY(-50%);

}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

// === try ===


#portfolio {
	display: flex;
  	flex-direction: row;
  	justify-content: center;
//	border: 1px solid red;
}

//#niceapps {
//	border: 1px solid blue;
//}
//
//.app {
//	border: 1px solid yellow;
//}